<%= form_with(model: planetoid) do |form| %>
  <% if planetoid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planetoid.errors.count, "error") %> prohibited this planetoid from being saved:</h2>

      <ul>
        <% planetoid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :mass %>
    <%= form.number_field :mass %>
  </div>

  <div class="field">
    <%= form.label :diameter %>
    <%= form.number_field :diameter %>
  </div>

  <div class="field">
    <%= form.label :orbital_distance %>
    <%= form.number_field :orbital_distance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
